@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* TODO: Ideally these should come directly from the Tailwind config */
  :root {
    --color-primary: #d5ab46;
    --color-secondary: #221119;
    --color-primary-light: #d0b473;
  }
}

input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary-light);
  outline: none;
}

/* Override the default blue background when autofilling a form */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  background-color: var(--color-primary-light-2) !important;
}

.centerDiv {
  @apply flex justify-center items-center;
}

.button-gradient {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(
    60deg,
    var(--color-primary-light),
    var(--color-primary)
  );
}

.form-button {
  @apply mt-8;
}
